ga('create', '<r:add_on:google_analytics:id/>', 'auto');
<r:add_on:google_analytics:if_client_id_dimension>
  ga('set', '<r:add_on:google_analytics:client_id_dimension/>', get_ga_client_id());
</r:add_on:google_analytics:if_client_id_dimension>

