<r:basket:if_order_level_deal>
  <div class="basket__footer-row basket__order-level-deal">
    <span class="basket__charge-title"><r:basket:order_level_deal_name/></span>
    <span class="basket__charge-amount"><r:basket:order_level_deal_discount/></span>
  </div>
</r:basket:if_order_level_deal>