<div class="basket__footer-row basket__total">
  <span class="basket__total-title">
    <r:t key='order.total'/>
  </span>

  <span class="basket__total-amount">
    <r:basket:total_price/>
  </span>
</div>