<r:basket:if_order_level_deal>
  <div class="basket__footer-row basket__order-level-deal">
    <h5 class="deal-level-title">
      <r:basket:order_level_deal_name/>
    </h5>

    <div class="deal-level-details">
      <span class="deal-level-discount">
        <r:t key="order.btl_discount"/>
      </span>
      <span class="deal-level-discount">
        <span><r:basket:order_level_deal_discount/></span>
      </span>
    </div>
  </div>
</r:basket:if_order_level_deal>