<r:basket:if_accepted>
  <div class="basket__footer-row basket__button">
    <div class="basket__button-wrapper">
      <a class="basket__button-link" href="/order_step2/">
      <span class="basket__button-text">
        <r:t key='basket.order_now'/>
      </span>
      </a>
    </div>
  </div>
</r:basket:if_accepted>