<div class="basket__footer-box">
  <r:widget:show name='basket_tips'/>
  <r:widget:show name='basket_order_level_discount'/>
  <r:widget:show name='basket_savings'/>
  <r:widget:show name='basket_delivery_method_and_time'/>
  <r:widget:show name='basket_coupon_code'/>
  <r:widget:show name='basket_total'/>
  <r:widget:show name='basket_button'/>
</div>
<div class="basket__footer-messages">
  <r:widget:show name='basket_red_message'/>
  <r:widget:show name='basket_orange_message'/>
</div>
