<div id="sidebar-ofc" class="off-canvas off-canvas_right">
  <div class="off-canvas__wrapper">
    <div class="off-canvas__content">
      <r:franchised_shops:if_not_franchise>
        <div id="basket-holder">
          <r:widget:show name='basket'/>
        </div>
      </r:franchised_shops:if_not_franchise>
    </div>
  </div>
</div>
