<nav class="category-navigation">
  <div class="category-navigation__wrapper">
    <ul class="category-navigation__list">
      <r:widget:show name="category_navigation_items"/>
    </ul>
  </div>
</nav>
