# CACHED-RENDERING: product, delivery_method
<r:category:load request_parameter='id' include_descendants="true" redirect_if_not_found='true'>
  <r:widget:show name="categories_main_products"/>
  <r:widget:show name="categories_subcategories"/>
</r:category:load>