<header class="category__header">
  <h2 class="category__title">
    <r:product:name/>
  </h2>
 <r:product:if_description>
  <div class="category__description">
    <r:product:description/>
  </div>
 </r:product:if_description>
</header>