<header>
  <h2>
    <r:t key='failed.title'/>
  </h2>
</header>

<p>
  <r:t key='failed.message'/>
</p>

<p>
  <b>
    <r:t key='failed.call_1'/>
    <r:shop:phone/>
    <r:t key='failed.call_2'/>.
  </b>
</p>

<p>
  <r:t key='failed.apologize'/>
</p>
