<h1 class="header__logo">
  <a class="header__logo-link" href="<r:param name='banner_redirection_url' default='/'/>" title="<r:shop:name/>">
    <r:widget:show name='header_banner_logo'/>
  </a>
</h1>