<div class="burger-menu">
  <a id="menu-off-canvas" class="burger-menu__link" href="#main-menu-ofc">
    <i class="burger-menu__icon"></i>
    <div class="burger-menu__button">
      <span class="burger-menu__line"></span>
      <span class="burger-menu__line"></span>
      <span class="burger-menu__line"></span>
    </div>
  </a>
</div>