<div class="dropdown-menu dropdown-menu_ordering">
  <div class="dropdown-menu__header">
    <a class="dropdown-menu__header-link" href="<r:shopping_page_url/>">
      <r:t key='page.our_menu'/>
    </a>
  </div>
</div>