<r:franchised_shops:if_not_franchise>
  <div class="basket-menu">
    <ul class="basket-menu__icons">
      <li class="basket-menu__basket-button">
        <a href="#" id="basket-off-canvas" class="basket-menu__link">
          <i class="basket-menu__basket-icon"></i>
          <span class="basket-menu__items"><r:basket:nb_items/></span>
        </a>
      </li>
    </ul>
  </div>
</r:franchised_shops:if_not_franchise>