<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="keywords" content="<r:param name='meta_keywords'/>">
<meta name="description" content="<r:meta_description/>">

<r:if_page matches='login|forgot_password|register|order_step'><meta name="robots" content="noindex,follow"></r:if_page>

<r:widget:show name='layout_additional_meta'/>