<r:franchised_shops:if_not_franchise>
  <li class="mobile-menu__section mobile-menu__section_has-submenu">
    <a class="mobile-menu__section-link" href="#">
      <r:t key="general.shop_info"/>
      <i class="mobile-menu__section-icon"></i>
    </a>
    <div class="mobile-menu__submenu">
      <r:widget:show name='shop_info_mobile'/>
    </div>
  </li>
</r:franchised_shops:if_not_franchise>