<r:if_page matches='index|static'>
  <li class="mobile-menu__section mobile-menu__section_ordering">
    <a class="mobile-menu__section-link" href="<r:shopping_page_url/>">
      <r:t key='page.our_menu'/>
    </a>
  </li>
</r:if_page>