<li class="mobile-menu__section mobile-menu__section_has-submenu mobile-menu__section_unfolded">
  <a class="mobile-menu__section-link" href="#">
    <r:t key="page.menu"/>
    <i class="mobile-menu__section-icon"></i>
  </a>

  <ul class="mobile-menu__submenu">
    <r:widget:show name="mobile_menu_subcategories"/>
    <r:widget:show name="mobile_menu_favourites"/>
  </ul>
</li>
