<tr class="order__items-deal-title">
  <th colspan="4">
    <r:order_deal:name/>
  </th>
</tr>
<r:order_deal:each_order_item>
  <r:widget:show name="orders_order_item"/>
</r:order_deal:each_order_item>