<r:shop:if_loyalty_program in='store_balance,update_balance'>
  <p class="orders-points-balance">
    <r:t key='loyalty.current_balance'/> <strong><r:buyer:points_balance_human/></strong>.
  </p>
</r:shop:if_loyalty_program>