<div class="form_label_hint"></div>

<script type="text/javascript">
  function checkPhoneFormat(phone_number) {
    return true;
  }

  function phoneFormatErrorMessage() {
    return "Le numéro de téléphone est invalide";
  }
</script>
