<div class="popup__top">
  <div class="popup__header">
    <h3 class="popup__title">
      <r:deal_bag:name/>
    </h3>
  </div>
  <r:deal_bag:if_description>
    <div class="popup__description">
      <r:deal_bag:description/>
    </div>
  </r:deal_bag:if_description>
</div>