<r:option:if_price>
  <r:option_list:if_extra_toppings>
    <r:product:if_not_free_toppings>
      <span class="popup-set__price" data-option-price><r:option:price/></span>
    </r:product:if_not_free_toppings>
  </r:option_list:if_extra_toppings>
  <r:option_list:if_options>
      <span class="popup-set__price" data-option-price><r:option:price/></span>
  </r:option_list:if_options>
</r:option:if_price>
