<r:skus:if_single>
  <r:widget:show name="product_skus_one"/>
</r:skus:if_single>

<r:skus:if_many>
  <r:widget:show name="product_skus_many"/>
</r:skus:if_many>

<r:widget:show name="product_skus_js"/>
