<script type="text/javascript">
  OffCanvas.init();
  NiceSelect.init();
  // TODO: reenable mobile sku buttons
  // SkuButtons.init();
  DropdownMenu.init();
  Floater.addElement('.content__side');
  Page.equalizeProducts();
</script>
