<r:buyer:if_can_pay_with_loyalty>
  <r:shop:if_loyalty_program in='manual_redeem'>
    <div class='note'><r:t key='loyalty.redeem_on_delivery'/></div>
  </r:shop:if_loyalty_program>
</r:buyer:if_can_pay_with_loyalty>