<r:payment_method:if_method_type in="ingenico_direct_link">
  <div class="payment_method_extra payment_method_extra_<r:payment_method:id/>">
    <r:widget:show name="step4_ingenico_new_card"/>
  </div>
</r:payment_method:if_method_type>
