<form action="/orders/create" method="post" name="delivery_form" onsubmit="preventDuplicateFormSubmit(this)">
  <input type="hidden" name="ie11_fix" value="1">
  <button class="form-buttons__button" type="submit"><r:t key='confirmation.place_order_button'/></button>
</form>

<r:widget:show name="step5_confirm_block_resubmission"/>