<r:shop:if_loyalty_program in='store_balance,update_balance'>
  <div class="checkout-loyalty__balance">
    <r:t key='loyalty.current_balance'/> <span class="checkout-loyalty__balance__points"><r:buyer:points_balance_human/></span>.
  </div>
</r:shop:if_loyalty_program>
