<header class="checkout__header">
  <h2 class="checkout__title">
    <r:t key='thank_you.order_placed'/>
  </h2>
</header>

<p>
  <b>
    <r:t key='thank_you.thanks_for_buying'/>
    <r:shop:name/><r:t key='exclamation_mark'/>
  </b>
</p>

<p>
  <r:t key='thank_you.order_sent'/>
</p>

<p>
  <b>
    <r:t key='thank_you.real_time_status'/>
    <r:link_to_page name='orders'>
      <r:t key='thank_you.orders_page'/>
    </r:link_to_page>.
  </b>
</p>