/***************************
  Checkout loyalty
***************************/

.checkout-loyalty { margin-top: 3rem; }

.checkout-loyalty__balance { margin-bottom: 1rem; }
.checkout-loyalty__balance__points { font-weight: bold; }

.checkout-loyalty__cannot-use {}

.checkout-loyalty__use {}
.checkout-loyalty__use-label {}
.checkout-loyalty__use-input {}
.checkout-loyalty__use-text {}
