/***************************
  Social icons
***************************/

.social-icons { @include clearfix; }
.social-icons__icon { display: inline-block; }
.social-icons__icon:last-child { margin-right: 0; }

.social-icons__link { display: inline-block; text-decoration: none; }
.social-icons_large .social-icons__link { width: 36px; height: 36px; font-size: 2rem; text-align: center; border-radius: 50%; }
