<!DOCTYPE HTML>
<html>
  <head>
    <title><r:title/></title>
    <r:widget:show name='layout_meta'/>
    <link rel="icon" href="/assets-images/favicon.png" type="image/x-icon">

    <r:stylesheet name='touch.css'/>
    <r:stylesheet name='theme.css'/>
    <r:widget:show name='layout_additional_css'/>

    <r:javascript name='touch.js'/>
    <r:javascript name='theme.js'/>
    <r:widget:show name='layout_additional_js'/>

    <r:shop:if_language in='fr'><r:javascript name='touch_fr.js'/></r:shop:if_language>
    <r:shop:if_language in='nl'><r:javascript name='touch_nl.js'/></r:shop:if_language>
    <r:shop:if_language in='ru'><r:javascript name='touch_ru.js'/></r:shop:if_language>
    <r:shop:if_not_language in='fr,nl,ru'><r:javascript name='touch_en.js'/></r:shop:if_not_language>

    <r:widget:show name='scripts_head'/>
  </head>

  <body class="page <r:page_classes/> <r:buyer:if_kiosk>kiosk</r:buyer:if_kiosk>">
    <r:widget:show name='scripts_top'/>

    <r:widget:show name="message"/>

    <div class="page__overlay" id="page-overlay"></div>
    <div class="page__popup-holder" id="popup-holder"></div>

    <div class="page__wrapper">
      <r:widget:show name='topmessage'/>

      <div class="page__header">
        <r:widget:show name='header'/>
      </div>

      <div class="page__content">
        <r:content/>
      </div>

      <div class="page__footer">
        <r:widget:show name='footer'/>
      </div>
    </div>

    <r:widget:show name='mobile_menu'/>
    <r:widget:show name='scripts_init_product'/>
    <r:widget:show name='scripts_bottom'/>
  </body>
</html>