<r:deal_bag:load_deal_product>
  <r:widget:show name="popup_deal_bag"/>

  <script type="text/javascript">
    Popup.open();
    DealSelects.init($j('#popup_form'));
    NiceSelect.init();
  </script>

  <r:widget:show name='scripts_init_product'/>
</r:deal_bag:load_deal_product>
