<div class="content content_static">
  <div class="content__wrapper">
    <div class="content__main">
      <div class="content__main-wrapper">
        <section class="static-page">
          <h2 class="static-page__title"><r:static_page:title/></h2>
          <r:static_page:content/>
        </section>
      </div>
    </div>
  </div>
</div>